@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:100,200,300,400,500,600,700,800,900");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

:root {
    --artelak-blue: #12284c;
    --artelak-lightblue: #dce0e5;
    --artelak-ocre: #cc9e6a;
    --artelak-lightocre: #f2d9c7;
  }

